@font-face {
  font-family: "daniel";
  src: url("../fonts/Phrygia-elvB.ttf");
}

* {
  font-family: "daniel";
  color: white;
}

html {
  background-color: black;
}

.topic {
  margin: 10px 0 10px 0;
}